.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b48b65; /* Cor do fundo */
    color: white;
    text-align: center;
    padding: 20px 5%;
    width: 100%;
}

/* Logo */
.footer .logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-style: italic;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

/* Texto */
.footer p {
    font-size: 14px;
    max-width: 600px;
    text-align: center;
    line-height: 1.5;
}

/* Ícones sociais */
.footer-links {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.footer-links a {
    background-color: white;
    color: #b48b65;
    padding: 8px;
    border-radius: 50%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, transform 0.3s;
}


/* 🔽 Ajustes para telas menores que 600px */
@media (max-width: 600px) {
    .footer {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;

    }

    .footer-links {
        order: -1; /* Move os ícones para cima */
    }

    .footer p {
        font-size: 10px;
        max-width: 300px;
    }
}
