@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Port+Lligat+Slab&display=swap');
* {
    margin: 0%;
    box-sizing: border-box;
    padding: 0%;
    font-family: "Poppins", serif;
}

:root{
    --main-color: #F07395;
    --text-color: #ffff;
    --destaque-color: #a18462; 
    --bg-color: #f3f4f6;
    --effect-color: #b0687c;
}

html, body {
    overflow-x: hidden; /* Evita rolagem lateral, mas permite rolagem vertical */
    overflow-y: auto; /* Garante que a rolagem vertical funcione */
    height: auto; /* Permite que o conteúdo aumente conforme necessário */
    background-color: var(--bg-color);
    scroll-behavior: smooth;

}


